j2se/org.salever.j2se.wsdl/wsdl/DemoService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="DemoService" targetNamespace="http://www.talend.org/service/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.talend.org/service/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xsd:schema targetNamespace="http://www.talend.org/service/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.talend.org/service/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="DemoServiceOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DemoServiceOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
  </wsdl:types>
  <wsdl:message name="DemoServiceOperationResponse">
    <wsdl:part element="tns:DemoServiceOperationResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DemoServiceOperationRequest">
    <wsdl:part element="tns:DemoServiceOperationRequest" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DemoServicePortType">
    <wsdl:operation name="DemoServiceOperation">
      <wsdl:input message="tns:DemoServiceOperationRequest">
    </wsdl:input>
      <wsdl:output message="tns:DemoServiceOperationResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DemoServiceBinding" type="tns:DemoServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="DemoServiceOperation">
      <soap:operation soapAction="http://www.talend.org/service/DemoServiceOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DemoService">
    <wsdl:port binding="tns:DemoServiceBinding" name="DemoServicePort">
      <soap:address location="http://localhost:8040/services/DemoService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>