j2se/org.salever.j2se.common/schedule.xml

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:Revealed="http://jzventures.java6.common.j2se.salever.org"
	targetNamespace="http://jzventures.java6.common.j2se.salever.org">
	<element name="Schedule">
		<complexType>
			<sequence>
				<element name="course" type="Revealed:Course" minOccurs="1"
					maxOccurs="unbounded" />
				<element name="location" type="Revealed:Location" />
			</sequence>
		</complexType>
	</element>
	<complexType name="Course">
		<sequence>
			<element name="courseId" type="string" />
			<element name="name" type="string" />
			<element name="description" type="string" />
		</sequence>
	</complexType>
	<simpleType name="Location">
		<restriction base="string">
			<enumeration value="north"></enumeration>
			<enumeration value="south"></enumeration>
			<enumeration value="east"></enumeration>
			<enumeration value="west"></enumeration>
		</restriction>
	</simpleType>
</schema>
